MIME encoded syntax (=?UTF-8?Q??=) shown in subject

I just recently got

![screenshot2](https://user-images.githubusercontent.com/10702026/36391297-ff76a2a4-15b6-11e8-9f48-92d256e473d5.png)

Original subject line `Subject: =?UTF-8?Q??=  =?UTF-8?Q?=D0=9F=D0=BE=D0=B4=D1=82=D0=B2=D0=B5=D1=80=D0=B6=D0=B4=D0=B5=D0=BD=D0=B8=D0=B5=20?=  =?UTF-8?Q?=D1=80=D0=B5=D0=B3=D0=B8=D1=81=D1=82=D1=80=D0=B0=D1=86=D0=B8=D0=B8=20?=  =?UTF-8?Q?=20=D0=BD=D0=B0=20Bookland.com?=`

you can see that the **encoded text** part of the first encoded-word-thingy is empty, maybe that's an issue.

`=?UTF-8?Q??=` is not a valid encoded word and hence not decoded. See [RFC 2047, section 2](https://tools.ietf.org/html/rfc2047#section-2).
I'm hesitant to add support for this particular case. It doesn't feel like something that happens when 'encoded word' encoding is implemented naively. This seems like a more serious bug that should be fixed rather than worked around.
That being said, both Thunderbird and Gmail's web interface don't show `=?UTF-8?Q??=` for the provided subject. Thunderbird does display `=?UTF-8?Q??=` when it's the sole value of the `Subject` header, it doesn't if that part is followed by anything else (encoded word or regular text). Gmail always ignores it.

Similar thing in the **To:**  field:

![screenshot4](https://user-images.githubusercontent.com/10702026/36439928-5ec2b7b6-167f-11e8-8853-7d78203a3230.png)

`To: =?utf-8?Q??= <fishburgzone@mail.ru>`