With email in outbox: Failed to send some messages. Negative SMTP reply 501 5.1.3 Bad recipient address syntax

Failed to send some messages with K9 - Thunderbird/Outlook works fine.
Negative SMTP reply 501 5.1.3 Bad recipient address syntax

k9-Mail version: 5.008
Device make: samsung
Device model: SM-T520
Android version: 5.1.1

com.fsck.k9.mail.MessagingException: Unable to send message
at com.fsck.k9.mail.transport.SmtpTransport.sendMessageTo(SmtpTransport.java:539)
at com.fsck.k9.mail.transport.SmtpTransport.sendMessage(SmtpTransport.java:495)
at com.fsck.k9.controller.MessagingController.sendPendingMessagesSynchronous(MessagingController.java:3563)
at com.fsck.k9.controller.MessagingController$20.run(MessagingController.java:3314)
at com.fsck.k9.controller.MessagingController.run(MessagingController.java:435)
at java.lang.Thread.run(Thread.java:818)
Caused by: com.fsck.k9.mail.transport.SmtpTransport$NegativeSmtpReplyException: Negative SMTP reply: 501 5.1.3 Bad recipient address syntax
at com.fsck.k9.mail.transport.SmtpTransport.checkLine(SmtpTransport.java:649)
at com.fsck.k9.mail.transport.SmtpTransport.executeSimpleCommand(SmtpTransport.java:690)
at com.fsck.k9.mail.transport.SmtpTransport.executeSimpleCommand(SmtpTransport.java:654)
at com.fsck.k9.mail.transport.SmtpTransport.sendMessageTo(SmtpTransport.java:524)
... 5 more

I think there's is a problem with german mutated vowel (äöü..) in Email-adress.
Other recipient without mutated vowel work fine.

Also ISP reply that:
"Guten Tag Herr xxx,
leider liegt die Ursache hier doch an K-9. Die eigentliche Ursache ist der Umlaut in der Domain. E-Mailprogramme haben hier Schwierigkeiten, diesen richtig zu interpretieren."

"Good day Mr. xxx,
Unfortunately, the cause lies here but at K. 9 The root cause is the umlaut in the domain. Email programs have difficulty interpreting this right here. "


We probably need to implement RFC 6530, RFC 6531, RFC 6532, RFC 6533 possibly including RFC 2047:

From RFC 6530:

> If the extension is not supported by the first-hop system
   (i.e., the SMTP server accessed by the submission server acting as an
   SMTP client), message-originating systems SHOULD be prepared to
   either send conventional envelopes and message headers or to return
   the message to the originating user so the message may be manually
   downgraded to the traditional form, possibly using encoded words
   [RFC2047] in the message headers.

A smaller piece of work we we want to do is to make it because the server isn't advertising the SMTPUTF8 extension rather than trying to send it and then seeing it fail. That doesn't fix the root problem of being unable to send it - but does handle the scenario better.


Related: #1362 

Related #1363 

(This is not actually fixed yet, the PR just improved error handling)

**Expected behavior**
Email should be sent.

**Actual behavior**
Email is not sent and not saved in Outbox, it disappears. Error message pops up: Negative SMTP reply: 555 5.5.2 Syntax error. This happens with **one particular recipient address** repeatedly. 

**Steps to reproduce**
- Compose new email
- Enter recipient name, select from contact list
- Enter subject and body text
- Send . Email is not sent and not saved in Outbox. 

**Environment**
- K9-Mail version: 5.207
- Device make: Huawei
- Device model: Nexus 6P
- Android version: 7.1.2, Coppehead OS
- Account type: Google Apps for Business, both sender and recipient
- Protocol: IMAP
- Recipient address in **first.name-name-name@company.com**

**Error**
com.fsck.k9.mail.transport.SmtpTransport$NegativeSmtpReplyException: Negative SMTP reply: 555 5.5.2 

Syntax error. h21sm1818588pgn.18 - gsmtp
at com.fsck.k9.mail.transport.SmtpTransport.checkLine(SmtpTransport.java:639)
at com.fsck.k9.mail.transport.SmtpTransport.executeSimpleCommand(SmtpTransport.java:680)
at com.fsck.k9.mail.transport.SmtpTransport.executeSimpleCommand(SmtpTransport.java:644)
at com.fsck.k9.mail.transport.SmtpTransport.sendMessageTo(SmtpTransport.java:523)
at com.fsck.k9.mail.transport.SmtpTransport.sendMessage(SmtpTransport.java:496)
at com.fsck.k9.controller.MessagingController.sendPendingMessagesSynchronous(MessagingController.java:3014)
at com.fsck.k9.controller.MessagingController.access$1700(MessagingController.java:115)
at com.fsck.k9.controller.MessagingController$21.run(MessagingController.java:2895)
at com.fsck.k9.controller.MessagingController.runInBackground(MessagingController.java:204)
at com.fsck.k9.controller.MessagingController.access$000(MessagingController.java:115)
at com.fsck.k9.controller.MessagingController$1.run(MessagingController.java:173)
at java.lang.Thread.run(Thread.java:761)

I wonder whether the error has anything to do with the recipient address syntax: first.name-name-name@company.com?

5.5.2 is a different error code - "Undelivered: SMTP sequence error" ( #2339 makes this more obvious by adding support for decoding the error codes). I don't think this is the same issue.

Also getting 5.5.2 error for 1 address in my contacts.  Format of address is first.lastN@organization.org
Using K-9 V5.206 on a Samung, Android 6, tablet.  Address causes no problems if sent using browser webmail from same device or if sent from Windows / Thunderbird.

Screenshot of error is attached as .jpg


![screenshot_555 5 5 2 error](https://cloud.githubusercontent.com/assets/28672530/26025761/955d5eea-37bc-11e7-8f13-ab2a6c13690c.jpg)


Duplicate of #2633