[feature request] do not set `seen` flag on downloaded mails

I recently changed my mail setup to have K9 fetch mail from Dovecot IMAP server using a Maildir mail storage which is synchronized across multiple computers. Since then, each mail downloaded by K9 becomes flagged as "seen" and this changes Mutt handling of it.

This issue is to request a way to configure K9 so to request NOT to flag the mail as "such".

Note: this is not read/unread flag but something different (mutt renders these mails as "O" for "old", which means they are still unread but "shown" before [from+subject]).

I assume, Mutt interprets the IMAP system flag `\Recent`. If so, I'd fear that k-9 cannot do anything about it, since that flag is set by the server and not by the client. From section 2.3.2 of [RFC 3501](https://tools.ietf.org/html/rfc3501#section-2.3.2):
>        \Recent
>           Message is "recently" arrived in this mailbox.  This session
>           is the first session to have been notified about this
>           message; if the session is read-write, subsequent sessions
>           will not see \Recent set for this message.  This flag can not
>           be altered by the client.
...
>           If multiple connections have the same mailbox selected
>           simultaneously, it is undefined which of these connections
>           will see newly-arrived messages with \Recent set and which
>           will see it without \Recent set.

Ok, makes sense. So eventually I'll have to file this request
to the Dovecot side. Thanks for following up.


I'd expect Dovecot to implement IMAP according to RFC 3501, i.e. it sends the `\Recent` flag just to the first client that is notified about a new mail. If k-9 is the first client, Mutt won't get the `\Recent` flag. That's what the IMAP specification says. I doubt that the Dovecot developers can do much about it, if they want to comply with the IMAP specification.

In other words: My impression is that the `\Recent` flag becomes rather useless when using multiple clients and some of them are always online.  :-/

You can open a folder using `EXAMINE` instead of `SELECT`. This will leave `\Recent` flags intact. I'm not sure why we're opening a folder for read/write access during synchronization. Maybe we could change this.

@cketti Thanks for pointing me at `EXAMINE`! I did not know about it.

It seems that k-9 already uses read-only access to watch and synchronize push folders, but it uses read-write access for poll folders. The latter appears to be due to [line 804 in MessagingController.java](https://github.com/k9mail/k-9/blob/e266547bfc6db2f7af1dc84a07e954e20636adec/k9mail/src/main/java/com/fsck/k9/controller/MessagingController.java#L804):

`remoteFolder.open(Folder.OPEN_MODE_RW);`

Read-write access is needed for `EXPUNGE`, if `EXPUNGE_ON_POLL` is set. In other cases read-only access should be sufficient. In addition, it could be considered to switch to read-only access just after doing `EXPUNGE`.

@strk Is your k-9 configured for push or poll to fetch new messages? And could you possibly check if this makes a difference for the "old" flag on new messages in Mutt?

> @strk Is your k-9 configured for push or poll to fetch new messages?

Under the "Fetching" section of account settings I see both
"Push folders" and "Poll folders" being set to
"Only 1st Class folders". Is that what you mean ?

Or, under "Advanced", there's a "Poll when connecting for push"
checked.

> And could you possibly check if this makes a difference for the "old" flag on new messages in Mutt?

Let me know which of the above two settings matter, so I can test.

--strk;


In the meantime I've read quite a lot of k-9's IMAP code and performed some tests. If I've got it right, "Push folders" opens read-only connections for the specified folders, whereas "Poll folders" opens read-write connections. And in fact, if both options are enabled, k-9 does both: It opens read-only connections (for push) and read-write connections (for poll).

Manually checking for new mail by tapping "Check mail" or pulling down the message list also opens read-write connections. And, of course, tapping a new mail opens a read-write connection. (After all, at least in that case we'd expect the `\Recent` flag to be dropped.)

For a test I'd suggest that you leave "Push folders" at "Only 1st Class folders", but set "Poll folders" to "None". (Setting "Folder poll frequency" to "Never" should have the same effect.) Also, please do not manually check for new mails in whatever way. But you should have the message list of your Inbox open.

Then receive a new mail with k-9 while Mutt is not running. Thanks to "Push folders", it should appear in the message list right away. Then start Mutt and check if the new mail is already marked as "old". I hope it is not...

It doesn't look that keeping my Inbox open fetches any mail, with
my configuration. There's a "(syncing disabled)" label at the top.

I have "Folder poll frequency" set to "Never", "Poll folders" set to
"None", "Push folders" set to "Only 1st Class folders", "Sync messages
from" set to "any time (no limit)".

Where is "syncing disabled" ?


Strange. As far as I know, the settings "Poll folders" and "Folder poll frequency" should not enable or disable syncing. However, I'd suggest that you check the option
> K-9 > Settings > Global settings > Network > Background sync.

It should be anything but "Never". If it is "When 'Auto-sync' is checked", please also enable
> Android settings > Personal > Accounts > Auto-sync data.

Also, obviously network connectivity is needed. Then "Syncing disabled" should go away. By the way, which Android and K-9 versions do you use?

Ok, enabling Background sync I did get the mail downloader
automatically while keeping the Inbox opened, *and* that message
is not signalled as "Old" by Mutt.

But I really don't want to be notified by the phone everytime I
receive a new message so I'd like to switch the background sync back
to off and still be able to manually sync and not see the "old" flag
in Mutt, is that possible ?

--strk;


Thanks for trying it out! This was just a test to verify that it should actually solve this issue to make K-9 use read-only access also for polling. I'll try to find out if there are reasons against such a change.

For the time being you could consider to leave sync enabled and turn off notifications in the account settings as a workaround. But that does not really solve the issue.

Okay, let me try a little analysis of what K-9 currently does.

If I got it right, synchronization of folders is always performed by the method `synchronizeMailboxSynchronous` in the class `MessagingController`. This method has a parameter called `providedRemoteFolder`.

For automatic and manual polling the parameter `providedRemoteFolder` is `null`, causing the method to open the folder for read/write access; see [line 804](https://github.com/k9mail/k-9/blob/e266547bfc6db2f7af1dc84a07e954e20636adec/k9mail/src/main/java/com/fsck/k9/controller/MessagingController.java#L804). This causes the `\Recent` flags to be deleted when polling for new mails.

For push folders `providedRemoteFolder` is an object of the class `ImapFolderPusher`. This object represents an IMAP folder that is already open for read-only access; see [line 328](https://github.com/k9mail/k-9/blob/master/k9mail-library/src/main/java/com/fsck/k9/mail/store/imap/ImapFolderPusher.java#L328). The method `synchronizeMailboxSynchronous` uses the folder with its read-only access and does not reopen it for read/write access. This causes the `\Recent` flags to remain intact when K-9 learns about new mails via push.

The value of `providedRemoteFolder` makes one more difference. If it is `null` and the option "Erase deleted messages on server" is set to "When polling" (`EXPUNGE_ON_POLL`), the method `synchronizeMailboxSynchronous` calls `expunge` on the folder just after opening it. Of course, this requires read/write access. In this context it is worth mentioning that `expunge` would open the folder for read/write access itself, if that did not happen before.

Except for that, `synchronizeMailboxSynchronous` does the same for push and poll.

So, it appears to be technically possible to change K-9 to use read-only access also for polling. We'd just need to change the call to `open` in `synchronizeMailboxSynchronous` from read/write to read-only access and move it after the call to `expunge`. The latter is needed to avoid using the read/write connection possibly opened by `expunge`. PR #2804 shows this change.

The downside of this change is that polling in combination with the option "expunge when polling" will open the folder twice: once for expunge with read/write access and once for synchronization with read-only access. But to me this drawback appears acceptable.

The remaining question would be whether this change is the right thing to do. In any case, the current situation appears inconsistent to me, and I'd suggest to clean it up in one or the other way. But which way to go: Always keep or always delete `\Recent`?

If the IMAP specification does not require one or the other, it seems to be at the IMAP client's choice. Issue #2772 requests to always leave the flag intact; PR #2804 would do that. If other users want K-9 to always delete the flag, an option could be added to the IMAP settings, whether synchronization should keep or delete the `\Recent` flag. However, as long as there is no demand for it, adding such option seems to be over the top.

@cketti, what do you think?

Would this mean that deleting a mail would still mark all fetched
mails as seen ? As it would not fully solve the problem.

A user option to never drop the \Recent flag would be grea to me.
For comparison, Mutt does have such option (which I use...)

--strk;


> Would this mean that deleting a mail would still mark all fetched mails as seen ?

I don't think so. I'd expect that a message needs to be actually fetched from the server in a read-write session to get its `\Recent` flag removed. So, neither just opening a folder for read-write access, nor marking some messages as deleted, nor actually removing messages marked as deleted (that's what the IMAP command `EXPUNGE` does) should affect the `\Recent` flag of other messages in the same folder.

However, that's just my assumption, since I did not find specific requirements in the IMAP specification, when exactly a server should remove the `\Recent` flag for a message.

Do you mind opening this again ? I would still like to ALWAYS request read-only connection, even when actually opening a mail for reading. I want a way to examine/peek mails w/out marking them as non-recent anymore.

You can configure K-9 Mail to not mark a message as read when opening it for reading (Account settings > Reading mail > Mark as read when opened). But the app has to open a read-write session when you make any changes (mark as read, delete, move, …).