Email messages are truncated after a few lines

### Expected behavior

Depending on size complete email message should be shown.
### Actual behavior

Currently (behavior changed!) some "type" of messages are "truncated" after some lines. Android AOSP email client shows correctly. Mozilla Thunderbird also.
### Steps to reproduce
1. Received a email generated by LOGWATCH, Type TEXT or HTML, error happens both.
2. Message Body "ends" after some lines. Incomplete
### Environment

K-9 Mail version: 5.010
Android version: KitKat 4.4.2

Account type (IMAP, POP3, WebDAV/Exchange):
IMAP (dovecot)


I don't have an installation of logwatch to generate a test email. Is it possible for you to paste the source of one into a pastebin paste or Gist so that we can work out why it's happening? 

Please also attach a screenshot.

I don't have this problem with my daily logwatches. All logwatches (html) are displayed correctly and completely.
(K9 version: 5.111, Android version: Nougat 7.0 on Nexus 5X)

![screenshot_2016-10-04-16-28-29](https://cloud.githubusercontent.com/assets/15951622/19078648/2e7b03a8-8a51-11e6-8362-367deaa89fb7.png)
![screenshot_2016-10-04-16-28-42](https://cloud.githubusercontent.com/assets/15951622/19078661/357f5550-8a51-11e6-8755-1ed603976cbc.png)

Attached 2 Screenshots. a) Logwatch mail in K9 b) Same mail in AOSP.

Debug log will follow asap.

I'll also try to "resend" the mail after "sed"ing private details out, but not sure if this will "preserve" the issue. Weird as this issue is, currently only a "direct receive" if a logwatch mail triggers bug. If I open the message in Mozilla Thunderbird and forward it to myself and then open the forwarded mail in K9, the forwarded mail is shown correctly.

I can't replicate this, text or html, using the same version of logwatch (7.4.0) with the message viewed on k-9 5.111/android 6.0.1. I have different services running on the machine so I don't have the same logwatch sections being displayed. You might want to try changing the services that logwatch is reporting on and see if that effects the output display.


FOUND a WORKAROUND, but no clue why:

Logwatch offers a config parameter:

#To make Base64 [aka uuencode] Encode = base64
Encode = base64

which was ENABLED on my vserver.

DISABLING it leads to fully loaded, not truncated email. 

Both for format = text or html.


Could you please check if setting logwatch to non-base64 will finally make this bug replicable to you?



It's highly unlikely one of the active developers will install and configure logwatch just to try to reproduce this error. If you want this fixed please attach a message that triggers the bug.

I just looked at this on a machine that is running the same version of logwatch (7.4.0). With the output set to "text", a "base64" encoding setting has no effect for me -- the message is sent as text. With output set to "html" and encoding to "base64" the message is sent encoded and I do see this issue with k9  (android 6.0.1, k9 - 5.115). 

My desk/laptop email client - which does minimal parsing of html - didn't have an issue displaying the base64 message.

Pulling the message source (from my desktop email client) of the html from an unencoded copy and comparing it to the decoded html from the base64 version (from the same email client) they were identical (diff only showed the two lines that had timestamps). K9 only had trouble displaying the html version that was base64 encoded. The unencoded html version displayed as expected.

The content headers show:

  MIME-Version: 1.0
  Content-transfer-encoding: base64
  Content-Type: text/html; charset="iso-8859-1"
  Message-Id: <20161119002320.110D2830AFCB@xxxxx>
  Date: Sat, 19 Nov 2016 00:23:18 +0000 (UTC)
  X-UID: 131599                                                  
  Status: RO
  Content-Length: 16033

I looked through my mail spool for similarly encoded messages and couldn't replicate this issue with any others that were base64 encoded html/iso-8859-1, though they were all multi-part, where as these from logwatch are just the single part.


Updated to 5.201.

Logwatch Emails which are shown (if they're shown) at once now need up to ~ 10 seconds to be shown (again). Would be ok itself, I'm not in a hurry :-) But even rotating the display "triggers" a blank email body and a new "waiting period".

Side effect of solved issues?



I have the same basic issue but there's no logwatch nor html involved.
Here's the source of the email:
```
Return-Path: <one@nonexistent.domain>
X-Original-To: two@nonexistent.domain
Delivered-To: two@nonexistent.domain
Received: from [127.0.0.1] (host [127.0.0.1])
        by three.nonexistent.domain (Sendmail) with ESMTP id 000000000000
        for <two@nonexistent.domain>; Sun,  5 Aug 2018 12:34:42 +0300 (EEST)
Subject: K-9 does not show this correctly
From: one@nonexistent.domain
To: two@nonexistent.domain
Content-Type: text/plain; charset="utf-8"
Content-Transfer-Encoding: base64
MIME-Version: 1.0
Message-Id: <20180805093442.000000000000@three.nonexistent.domain>
Date: Sun,  5 Aug 2018 12:34:42 +0300 (EEST)

R0FURVdBWV9JTlRFUkZBQ0U6IDEyMzQ1Njc4OTBhYmNkZWYKUkVESVJFQ1RfSFRUUFM6IDEyMzQ1Ng==
Nzg5MGFiY2RlZgpDT05URVhUX1BSRUZJWDogMTIzNDU2Nzg5MGFiY2RlZgpSRURJUkVDVF9VUkw6IA==
MTIzNDU2Nzg5MGFiY2RlZgpIVFRQX1VTRVJfQUdFTlQ6IDEyMzQ1Njc4OTBhYmNkZWYKUkVRVUVTVA==
X1NDSEVNRTogMTIzNDU2Nzg5MGFiY2RlZgpIVFRQX0FDQ0VQVF9MQU5HVUFHRTogMTIzNDU2Nzg5MA==
YWJjZGVmClJFUVVFU1RfVVJJOiAxMjM0NTY3ODkwYWJjZGVmCkRPQ1VNRU5UX1JPT1Q6IDEyMzQ1Ng==
Nzg5MGFiY2RlZgpSRURJUkVDVF9TU0xfVExTX1NOSTogMTIzNDU2Nzg5MGFiY2RlZgpIVFRQUzogMQ==
MjM0NTY3ODkwYWJjZGVmClJFUVVFU1RfTUVUSE9EOiAxMjM0NTY3ODkwYWJjZGVmClNFUlZFUl9BRA==
RFI6IDEyMzQ1Njc4OTBhYmNkZWYKU0NSSVBUX0ZJTEVOQU1FOiAxMjM0NTY3ODkwYWJjZGVmCkhUVA==
UF9DQUNIRV9DT05UUk9MOiAxMjM0NTY3ODkwYWJjZGVmCkhUVFBfQUNDRVBUOiAxMjM0NTY3ODkwYQ==
YmNkZWYKU0NSSVBUX05BTUU6IDEyMzQ1Njc4OTBhYmNkZWYKSFRUUF9IT1NUOiAxMjM0NTY3ODkwYQ==
YmNkZWYKU0VSVkVSX1BPUlQ6IDEyMzQ1Njc4OTBhYmNkZWYKU0VSVkVSX0FETUlOOiAxMjM0NTY3OA==
OTBhYmNkZWYKSFRUUF9PUklHSU46IDEyMzQ1Njc4OTBhYmNkZWYKUkVNT1RFX1BPUlQ6IDEyMzQ1Ng==
Nzg5MGFiY2RlZgpQQVRIOiAxMjM0NTY3ODkwYWJjZGVmCkNPTlRFTlRfTEVOR1RIOiAxMjM0NTY3OA==
OTBhYmNkZWYKSFRUUF9BQ0NFUFRfRU5DT0RJTkc6IDEyMzQ1Njc4OTBhYmNkZWYKUkVESVJFQ1RfVQ==
TklRVUVfSUQ6IDEyMzQ1Njc4OTBhYmNkZWYKU1NMX1RMU19TTkk6IDEyMzQ1Njc4OTBhYmNkZWYKQw==
T05URVhUX0RPQ1VNRU5UX1JPT1Q6IDEyMzQ1Njc4OTBhYmNkZWYKU0VSVkVSX05BTUU6IDEyMzQ1Ng==
Nzg5MGFiY2RlZgpRVUVSWV9TVFJJTkc6IDEyMzQ1Njc4OTBhYmNkZWYKSFRUUF9ETlQ6IDEyMzQ1Ng==
Nzg5MGFiY2RlZgpIVFRQX0NPTk5FQ1RJT046IDEyMzQ1Njc4OTBhYmNkZWYKVU5JUVVFX0lEOiAxMg==
MzQ1Njc4OTBhYmNkZWYKUkVNT1RFX0FERFI6IDEyMzQ1Njc4OTBhYmNkZWYKU0VSVkVSX1BST1RPQw==
T0w6IDEyMzQ1Njc4OTBhYmNkZWYKSFRUUF9VUEdSQURFX0lOU0VDVVJFX1JFUVVFU1RTOiAxMjM0NQ==
Njc4OTBhYmNkZWYKQ09OVEVOVF9UWVBFOiAxMjM0NTY3ODkwYWJjZGVmClNFUlZFUl9TT0ZUV0FSRQ==
OiAxMjM0NTY3ODkwYWJjZGVmCkhUVFBfUkVGRVJFUjogMTIzNDU2Nzg5MGFiY2RlZgpSRURJUkVDVA==
X1NUQVRVUzogMTIzNDU2Nzg5MGFiY2RlZgpTRVJWRVJfU0lHTkFUVVJFOiAxMjM0NTY3ODkwYWJjZA==
ZWYK
```

If it helps I've attached a dump of a complete email from one of my Linux server's daily logwatch.

[fetch)UID).INBOX.Logwatch)2201.txt](https://github.com/k9mail/k-9/files/2315348/fetch.UID.INBOX.Logwatch.2201.txt)

Base64 encoding for logwatch is advised over plain text to ensure that message lines do not exceed the typical 998 octet limit. Source: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=871473
Using Base64 encoding resolves this issue perfectly. (No more failed deliveries.) They also display fine on all mail clients I've tried so far (Roundcube, Thunderbird, Outlook, and Gmail), just not K9. -- I've also tried viewing messages sent from both Debian and CentOS Linux servers.

The point in which K9 stops rendering the massage varies, but for the one above I attached the last visible part is ` ---------------------- clam-update End ------------------------- `. The line containing `EXIM Begin` is not visible.

Please let me know if you'd like any further information.

@AldarisPale: Thanks for posting the email source. The body is not properly base64-encoded and that's why K-9 Mail isn't displaying it as intended by the sender.

From [RFC 2045, section 6.8](https://tools.ietf.org/html/rfc2045#section-6.8): Base64 Content-Transfer-Encoding:
> Because it is used only for padding at the end of the data, the
>  occurrence of any "=" characters may be taken as evidence that the
>  end of the data has been reached (without truncation in transit).

It looks like this is a known bug in logwatch: 
- https://sourceforge.net/p/logwatch/bugs/57/
- https://bugzilla.redhat.com/show_bug.cgi?id=1123093

I don't plan to add a workaround for this issue to K-9 Mail.

@cketti: Thanks for the update. I was able to solve my problem.

Here are the sources for two emails. The content is the same, but encoded differently. One e-mail gets displayed properly in K-9 while the other gets "terminated" early.

This works:
```Return-Path: <sender@senderdomain.com>
X-Original-To: receiver@receiverdomain.com
Delivered-To: receiver@receiverdomain.com
Received: from [127.0.0.1] (smtp [127.0.0.1])
        by smtp.receiverdomain.com (Postfix) with ESMTP id 2697F23C0063
        for <receiver@receiverdomain.com>; Mon, 27 Aug 2018 09:20:15 +0300 (EEST)
Subject: Malformed base64
From: sender@senderdomain.com
To: receiver@receiverdomain.com
Content-Type: text/plain; charset="utf-8"
Content-Transfer-Encoding: base64
MIME-Version: 1.0
Message-Id: <20180827062015.2697F23C0063@smtp.receiverdomain.com>
Date: Mon, 27 Aug 2018 09:20:15 +0300 (EEST)

Q09OVEVOVF9MRU5HVEg6IDEyMzQ1Njc4OTBhYmNkZWYNCkNPTlRFTlRfVFlQRTogMTIzNDU2Nzg5
MGFiY2RlZg0KQ09OVEVYVF9ET0NVTUVOVF9ST09UOiAxMjM0NTY3ODkwYWJjZGVmDQpDT05URVhU
X1BSRUZJWDogMTIzNDU2Nzg5MGFiY2RlZg0KRE9DVU1FTlRfUk9PVDogMTIzNDU2Nzg5MGFiY2Rl
Zg0KR0FURVdBWV9JTlRFUkZBQ0U6IDEyMzQ1Njc4OTBhYmNkZWYNCkhUVFBTOiAxMjM0NTY3ODkw
YWJjZGVmDQpIVFRQX0FDQ0VQVDogMTIzNDU2Nzg5MGFiY2RlZg0KSFRUUF9BQ0NFUFRfRU5DT0RJ
Tkc6IDEyMzQ1Njc4OTBhYmNkZWYNCkhUVFBfQUNDRVBUX0xBTkdVQUdFOiAxMjM0NTY3ODkwYWJj
ZGVmDQpIVFRQX0NBQ0hFX0NPTlRST0w6IDEyMzQ1Njc4OTBhYmNkZWYNCkhUVFBfQ09OTkVDVElP
TjogMTIzNDU2Nzg5MGFiY2RlZg0KSFRUUF9ETlQ6IDEyMzQ1Njc4OTBhYmNkZWYNCkhUVFBfSE9T
VDogMTIzNDU2Nzg5MGFiY2RlZg0KSFRUUF9PUklHSU46IDEyMzQ1Njc4OTBhYmNkZWYNCkhUVFBf
UkVGRVJFUjogMTIzNDU2Nzg5MGFiY2RlZg0KSFRUUF9VUEdSQURFX0lOU0VDVVJFX1JFUVVFU1RT
OiAxMjM0NTY3ODkwYWJjZGVmDQpIVFRQX1VTRVJfQUdFTlQ6IDEyMzQ1Njc4OTBhYmNkZWYNClBB
VEg6IDEyMzQ1Njc4OTBhYmNkZWYNClFVRVJZX1NUUklORzogMTIzNDU2Nzg5MGFiY2RlZg0KUkVE
SVJFQ1RfSFRUUFM6IDEyMzQ1Njc4OTBhYmNkZWYNClJFRElSRUNUX1NTTF9UTFNfU05JOiAxMjM0
NTY3ODkwYWJjZGVmDQpSRURJUkVDVF9TVEFUVVM6IDEyMzQ1Njc4OTBhYmNkZWYNClJFRElSRUNU
X1VOSVFVRV9JRDogMTIzNDU2Nzg5MGFiY2RlZg0KUkVESVJFQ1RfVVJMOiAxMjM0NTY3ODkwYWJj
ZGVmDQpSRU1PVEVfQUREUjogMTIzNDU2Nzg5MGFiY2RlZg0KUkVNT1RFX1BPUlQ6IDEyMzQ1Njc4
OTBhYmNkZWYNClJFUVVFU1RfTUVUSE9EOiAxMjM0NTY3ODkwYWJjZGVmDQpSRVFVRVNUX1NDSEVN
RTogMTIzNDU2Nzg5MGFiY2RlZg0KUkVRVUVTVF9VUkk6IDEyMzQ1Njc4OTBhYmNkZWYNClNDUklQ
VF9GSUxFTkFNRTogMTIzNDU2Nzg5MGFiY2RlZg0KU0NSSVBUX05BTUU6IDEyMzQ1Njc4OTBhYmNk
ZWYNClNFUlZFUl9BRERSOiAxMjM0NTY3ODkwYWJjZGVmDQpTRVJWRVJfQURNSU46IDEyMzQ1Njc4
OTBhYmNkZWYNClNFUlZFUl9OQU1FOiAxMjM0NTY3ODkwYWJjZGVmDQpTRVJWRVJfUE9SVDogMTIz
NDU2Nzg5MGFiY2RlZg0KU0VSVkVSX1BST1RPQ09MOiAxMjM0NTY3ODkwYWJjZGVmDQpTRVJWRVJf
U0lHTkFUVVJFOiAxMjM0NTY3ODkwYWJjZGVmDQpTRVJWRVJfU09GVFdBUkU6IDEyMzQ1Njc4OTBh
YmNkZWYNClNTTF9UTFNfU05JOiAxMjM0NTY3ODkwYWJjZGVmDQpVTklRVUVfSUQ6IDEyMzQ1Njc4
OTBhYmNkZWYNCg==
```

This does not work:
```
Return-Path: <sender@senderdomain.com>
X-Original-To: receiver@receiverdomain.com
Delivered-To: receiver@receiverdomain.com
Received: from [127.0.0.1] (smtp [127.0.0.1])
        by smtp.receiverdomain.com (Postfix) with ESMTP id 0D25523C0063
        for <receiver@receiverdomain.com>; Mon, 27 Aug 2018 09:21:13 +0300 (EEST)
Subject: Malformed base64
From: sender@senderdomain.com
To: receiver@receiverdomain.com
Content-Type: text/plain; charset="utf-8"
Content-Transfer-Encoding: base64
MIME-Version: 1.0
Message-Id: <20180827062113.0D25523C0063@smtp.receiverdomain.com>
Date: Mon, 27 Aug 2018 09:21:13 +0300 (EEST)

Q09OVEVOVF9MRU5HVEg6IDEyMzQ1Njc4OTBhYmNkZWYKQ09OVEVOVF9UWVBFOiAxMjM0NTY3ODkwYQ==
YmNkZWYKQ09OVEVYVF9ET0NVTUVOVF9ST09UOiAxMjM0NTY3ODkwYWJjZGVmCkNPTlRFWFRfUFJFRg==
SVg6IDEyMzQ1Njc4OTBhYmNkZWYKRE9DVU1FTlRfUk9PVDogMTIzNDU2Nzg5MGFiY2RlZgpHQVRFVw==
QVlfSU5URVJGQUNFOiAxMjM0NTY3ODkwYWJjZGVmCkhUVFBTOiAxMjM0NTY3ODkwYWJjZGVmCkhUVA==
UF9BQ0NFUFQ6IDEyMzQ1Njc4OTBhYmNkZWYKSFRUUF9BQ0NFUFRfRU5DT0RJTkc6IDEyMzQ1Njc4OQ==
MGFiY2RlZgpIVFRQX0FDQ0VQVF9MQU5HVUFHRTogMTIzNDU2Nzg5MGFiY2RlZgpIVFRQX0NBQ0hFXw==
Q09OVFJPTDogMTIzNDU2Nzg5MGFiY2RlZgpIVFRQX0NPTk5FQ1RJT046IDEyMzQ1Njc4OTBhYmNkZQ==
ZgpIVFRQX0ROVDogMTIzNDU2Nzg5MGFiY2RlZgpIVFRQX0hPU1Q6IDEyMzQ1Njc4OTBhYmNkZWYKSA==
VFRQX09SSUdJTjogMTIzNDU2Nzg5MGFiY2RlZgpIVFRQX1JFRkVSRVI6IDEyMzQ1Njc4OTBhYmNkZQ==
ZgpIVFRQX1VQR1JBREVfSU5TRUNVUkVfUkVRVUVTVFM6IDEyMzQ1Njc4OTBhYmNkZWYKSFRUUF9VUw==
RVJfQUdFTlQ6IDEyMzQ1Njc4OTBhYmNkZWYKUEFUSDogMTIzNDU2Nzg5MGFiY2RlZgpRVUVSWV9TVA==
UklORzogMTIzNDU2Nzg5MGFiY2RlZgpSRURJUkVDVF9IVFRQUzogMTIzNDU2Nzg5MGFiY2RlZgpSRQ==
RElSRUNUX1NTTF9UTFNfU05JOiAxMjM0NTY3ODkwYWJjZGVmClJFRElSRUNUX1NUQVRVUzogMTIzNA==
NTY3ODkwYWJjZGVmClJFRElSRUNUX1VOSVFVRV9JRDogMTIzNDU2Nzg5MGFiY2RlZgpSRURJUkVDVA==
X1VSTDogMTIzNDU2Nzg5MGFiY2RlZgpSRU1PVEVfQUREUjogMTIzNDU2Nzg5MGFiY2RlZgpSRU1PVA==
RV9QT1JUOiAxMjM0NTY3ODkwYWJjZGVmClJFUVVFU1RfTUVUSE9EOiAxMjM0NTY3ODkwYWJjZGVmCg==
UkVRVUVTVF9TQ0hFTUU6IDEyMzQ1Njc4OTBhYmNkZWYKUkVRVUVTVF9VUkk6IDEyMzQ1Njc4OTBhYg==
Y2RlZgpTQ1JJUFRfRklMRU5BTUU6IDEyMzQ1Njc4OTBhYmNkZWYKU0NSSVBUX05BTUU6IDEyMzQ1Ng==
Nzg5MGFiY2RlZgpTRVJWRVJfQUREUjogMTIzNDU2Nzg5MGFiY2RlZgpTRVJWRVJfQURNSU46IDEyMw==
NDU2Nzg5MGFiY2RlZgpTRVJWRVJfTkFNRTogMTIzNDU2Nzg5MGFiY2RlZgpTRVJWRVJfUE9SVDogMQ==
MjM0NTY3ODkwYWJjZGVmClNFUlZFUl9QUk9UT0NPTDogMTIzNDU2Nzg5MGFiY2RlZgpTRVJWRVJfUw==
SUdOQVRVUkU6IDEyMzQ1Njc4OTBhYmNkZWYKU0VSVkVSX1NPRlRXQVJFOiAxMjM0NTY3ODkwYWJjZA==
ZWYKU1NMX1RMU19TTkk6IDEyMzQ1Njc4OTBhYmNkZWYKVU5JUVVFX0lEOiAxMjM0NTY3ODkwYWJjZA==
ZWYK
```

In my case the source of the problem lies here: https://bugs.python.org/issue34025

Please note that my case does not have anything to do with logwatch or html.