NPE in HtmlToSpannedConverter (following unsupported transfer encoding) breaks sync

I am running K9 on Android 7.1. After the updates to 5.2 I have a problem, that a large number of messages are not displayed in the IMAP inbox.
I tried to remove local data and re-download the inbox, Most messages are downloaded, but the most recent ones are not. Instead I see a Null Pointer Exception in the folder view. With the RC1 package this does not happen.

As I need k9 for daily usage working I switched back to 5.2-RC1 and I do not have a logcat yet.


Without a logcat or the error from k9mail-errors we aren't going to be able to solve this. 

Here is the logcat with two tries: One before and one after removing local messages from Inbox
[k9_logcat.txt](https://github.com/k9mail/k-9/files/701353/k9_logcat.txt)


The main issue here is 

```
01-12 11:22:57.638 18220 18256 E k9      : com.fsck.k9.mailstore.LockableDatabase$WrappedException: com.fsck.k9.mail.MessagingException: Error appending message: sgurrNAS Warning
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder$13.doDbWork(LocalFolder.java:1126)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder$13.doDbWork(LocalFolder.java:1114)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LockableDatabase.execute(LockableDatabase.java:275)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder.storeSmallMessage(LocalFolder.java:1114)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController$12.messageFinished(MessagingController.java:1406)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mail.store.imap.ImapFolder.fetch(ImapFolder.java:770)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.downloadSmallMessages(MessagingController.java:1393)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.downloadMessages(MessagingController.java:1196)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.synchronizeMailboxSynchronous(MessagingController.java:953)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController$9.run(MessagingController.java:739)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.runInBackground(MessagingController.java:204)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.access$000(MessagingController.java:115)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController$1.run(MessagingController.java:173)
01-12 11:22:57.638 18220 18256 E k9      :      at java.lang.Thread.run(Thread.java:761)
01-12 11:22:57.638 18220 18256 E k9      : Caused by: com.fsck.k9.mail.MessagingException: Error appending message: sgurrNAS Warning
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder.saveMessage(LocalFolder.java:1362)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder$15.doDbWork(LocalFolder.java:1223)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder$15.doDbWork(LocalFolder.java:1218)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LockableDatabase.execute(LockableDatabase.java:275)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder.appendMessages(LocalFolder.java:1218)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder.appendMessages(LocalFolder.java:1145)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder$13.doDbWork(LocalFolder.java:1118)
01-12 11:22:57.638 18220 18256 E k9      :      ... 13 more
01-12 11:22:57.638 18220 18256 E k9      : Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference
01-12 11:22:57.638 18220 18256 E k9      :      at java.io.StringReader.<init>(StringReader.java:50)
01-12 11:22:57.638 18220 18256 E k9      :      at android.text.HtmlToSpannedConverter.convert(Html.java:758)
01-12 11:22:57.638 18220 18256 E k9      :      at android.text.Html.fromHtml(Html.java:245)
01-12 11:22:57.638 18220 18256 E k9      :      at android.text.Html.fromHtml(Html.java:219)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.helper.HtmlConverter.htmlToText(HtmlConverter.java:107)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.message.extractors.MessageFulltextCreator.extractText(MessageFulltextCreator.java:52)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.message.extractors.MessageFulltextCreator.createFulltext(MessageFulltextCreator.java:37)
01-12 11:22:57.638 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder.saveMessage(LocalFolder.java:1292)
01-12 11:22:57.638 18220 18256 E k9      :      ... 19 more
```

It's probably caused by the message having a faulty encoding, but we ought to do better here:

The encoding stack trace appears to be being handled okay and I don't think we should be trying to interpret it:

```
01-12 11:22:57.628 18220 18256 E k9      : Unable to getTextFromPart
01-12 11:22:57.628 18220 18256 E k9      : com.fsck.k9.mail.internet.UnsupportedContentTransferEncodingException: Unsupported encoding: 8bits
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mail.internet.MimeUtility.decodeBody(MimeUtility.java:1047)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mail.internet.MessageExtractor.getTextFromTextPart(MessageExtractor.java:105)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mail.internet.MessageExtractor.getTextFromPart(MessageExtractor.java:55)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.message.extractors.MessageFulltextCreator.extractText(MessageFulltextCreator.java:46)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.message.extractors.MessageFulltextCreator.createFulltext(MessageFulltextCreator.java:37)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder.saveMessage(LocalFolder.java:1292)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder$15.doDbWork(LocalFolder.java:1223)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder$15.doDbWork(LocalFolder.java:1218)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LockableDatabase.execute(LockableDatabase.java:275)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder.appendMessages(LocalFolder.java:1218)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder.appendMessages(LocalFolder.java:1145)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder$13.doDbWork(LocalFolder.java:1118)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder$13.doDbWork(LocalFolder.java:1114)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LockableDatabase.execute(LockableDatabase.java:275)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mailstore.LocalFolder.storeSmallMessage(LocalFolder.java:1114)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController$12.messageFinished(MessagingController.java:1406)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.mail.store.imap.ImapFolder.fetch(ImapFolder.java:770)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.downloadSmallMessages(MessagingController.java:1393)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.downloadMessages(MessagingController.java:1196)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.synchronizeMailboxSynchronous(MessagingController.java:953)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController$9.run(MessagingController.java:739)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.runInBackground(MessagingController.java:204)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController.access$000(MessagingController.java:115)
01-12 11:22:57.628 18220 18256 E k9      :      at com.fsck.k9.controller.MessagingController$1.run(MessagingController.java:173)
01-12 11:22:57.628 18220 18256 E k9      :      at java.lang.Thread.run(Thread.java:761)
```


As a work-around if you delete the `sgurrNAS Warning` email from a web client the e-mails should sync. If you are in control of generating that e-mail then you should fix the program that's creating a non-standard encoding type.

I just found that those mails are the problem. Here is one of them (only modified private data)
[mail.txt](https://github.com/k9mail/k-9/files/701409/mail.txt)


Probably only course of action to fix the actual e-mail is to tell QNAP. They should be sending:

> Content-Transfer-Encoding: 8bit

instead of 

> Content-Transfer-Encoding: 8bits

The relevant RFC is RFC 2045, section 6.1: https://tools.ietf.org/html/rfc2045#page-14

We will fix the bug I mentioned above stopping e-mail from syncing and aim to produce display en error instead of the message when we encounter this problem.

From that same rfc: "Any entity with an unrecognized Content-Transfer-Encoding must be treated as if it has a Content-Type of "application/octet-stream", regardless of what the Content-Type header field actually says."

So once again we can be liberal in what we accept, allowing sloppy senders to get away with doing what-ever, or we can go by rfc and display the data as attachment. 

We certainly want to do the latter for actual unknown content transfer encodings, we *could* special case this typo to be interpreted as its obvious meaning. 

Treating the part as binary attachment sounds sensible. That way the user can still get to the data. 

As a specification it's also a sane way to be forward-compatible. It allows introducing new transfer encodings at a later point without breaking older clients.

The only other option I see is replacing the part in question with an error message. That's good enough for the majority of people who wouldn't know what to do with the attachment anyway. It's a bit annoying for those who do. There might be a third-party app available to handle the transfer-encoded blob.

Are we leaving this open to cover doing better in this area or should it be closed now we fixed the crash by just displaying the undecoded content?

I created #2109 for the missing part.