Does not set \Draft flag on drafts saved to IMAP

### Expected behavior

When saving a draft message to an IMAP server, the `/Draft` flag should be set on the message.

### Actual behaviour

When saving a draft message to the Drafts folder on my IMAP server, the `/Draft` flag is not set on the message. This means that the FastMail web interface (and perhaps other mail clients) do not display the message as a draft.

The `\Draft` flag is defined in [RFC 3501 §2.3.2](https://tools.ietf.org/html/rfc3501#page-11) as follows:

> Message has not completed composition (marked as a draft).

It has special status elsewhere in the protocol. For example, the [`SEARCH` command](https://tools.ietf.org/html/rfc3501#section-6.4.4) accepts a `DRAFT` argument, defined to match “Messages with the `\Draft` flag set.”

Here's some verbose debug output from K-9 showing a subset of the IMAP traffic when saving a draft: [k9-draft-no-flag.txt](https://github.com/k9mail/k-9/files/1747842/k9-draft-no-flag.txt)

Here's a log of me inspecting the Drafts folder by hand. I had previously created another draft using FastMail's web interface (message 1 in the folder). Message 2 is the message created by K-9. 
[imap-protocol-showing-no-draft-flag.txt](https://github.com/k9mail/k-9/files/1747845/imap-protocol-showing-no-draft-flag.txt)


### Steps to reproduce

1. Configure an IMAP account
2. Save a message as draft
3. Check its IMAP flags with a different client (or by manually driving the IMAP protocol)
4. If using FastMail, browse to the message, and note that it is not considered a draft.

### Environment
K-9 Mail version: 5.403
Android version: 8.0.0
Account type (IMAP, POP3, WebDAV/Exchange): IMAP

I believe that issue is fixed (checked on latest version) and can be closed.

I do not believe this issue is fixed. The latest stable release according to https://k9mail.github.io/k-9/changelog_5.4-MAINT_branch.xml is 5.403, which is the version I reported this bug against (and reproduced it with, just now).

I don't see any relevant changes in the `master` branch. I also don't see the string `"\\Draft"` anywhere in the source tree, whereas I see that other standard IMAP message flags (eg `\Flagged`) handled inbound: https://github.com/k9mail/k-9/blob/05dda55025937ed3fcaff2e335ac5e5feae58baa/k9mail-library/src/main/java/com/fsck/k9/mail/store/imap/ImapFolder.java#L855-L875 and outbound: https://github.com/k9mail/k-9/blob/05dda55025937ed3fcaff2e335ac5e5feae58baa/k9mail-library/src/main/java/com/fsck/k9/mail/store/imap/ImapUtility.java#L163-L175 

I don't know IMAP or the internals of K-9 well enough to know whether it'd be enough to map `Flag.DRAFT` to `\Draft` in these two places.

Sorry for misinformation then, I used the wrong client to reproduce it :D. I will look deeper into it and fix it asap.

 

There's a PR for this issue which has been merged over a year ago. Is there a reason for issue still being open?