Cannot connect to server (Invalid CAPABILITY response received)

### Expected behavior
Fetch mail

### Actual behavior
Cannot connect to server (Invalid CAPABILITY response received)

### Steps to reproduce
Capabilities returned from the IMAP server
```
a capability
* CAPABILITY IMAP4rev1 STARTTLS AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT
a OK CAPABILITY completed
```

### Environment
K-9 Mail version: 5.600

Account type (IMAP, POP3, WebDAV/Exchange): IMAP

Please take some time to [retrieve logs](https://github.com/k9mail/k-9/wiki/LoggingErrors) and attach them here:

TBD


Can you please configure K-9 Mail to enable [debug logging](https://github.com/k9mail/k-9/wiki/LoggingErrors) and post the log?

[k9-log.txt](https://github.com/k9mail/k-9/files/3844882/k9-log.txt)


Do I understand this right?

https://github.com/k9mail/k-9/blob/d9d2156a43bbb69b26c7b7f0253e460ca289c11d/mail/protocols/imap/src/main/java/com/fsck/k9/mail/store/imap/ImapConnection.java#L305-L310

From the response:
```
11-14 07:16:56.691 22470 23152 V ImapConnection: conn85073235 <<< #null# [OK, [CAPABILITY, IMAP4rev1, STARTTLS, AUTH=PLAIN, AUTH=LOGIN, ID, APPENDLIMIT], IMAP4rev1 Service Ready]
```

It would appear that `responses` array has three elements.


> It would appear that `responses` array has three elements?

Yes, but not because of the quoted line. `responses` contains all untagged responses and the final tagged response. In your case this is the problematic exchange (I converted the entries from the log to what was transmitted over the wire):

```
C: 2 CAPABILITY
S: * CAPABILITY IMAP4rev1 AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT
S: * CAPABILITY IMAP4rev1 AUTH=LOGIN AUTH=PLAIN ID APPENDLIMIT
S: 2 OK CAPABILITY completed
```

In response to the capability command K-9 Mail reads two untagged responses and the tagged response. 

[RFC 3501, section 6.1.1](https://tools.ietf.org/html/rfc3501#section-6.1.1):
> The CAPABILITY command requests a listing of capabilities that the server supports.  The server MUST send a single untagged CAPABILITY response with "IMAP4rev1" as one of the listed capabilities before the (tagged) OK response.

Presumably that's why K-9 Mail contains a check for the number of responses. It appears this check was there in the very first version of K-9 Mail. As far as I know this is the first bug report involving it.

I'm guessing the server doesn't actually send two untagged capability responses in response to the capability command. It probably sends an unsolicited capability response right after the starttls command.
The author of the server software probably tried to be helpful and reduce the number of roundtrips (you don't have to ask for the capabilities if they are "pushed" to you by the server). Unfortunately, this doesn't really work. Because K-9 Mail (and I assume most other clients) only read responses after issuing a command. And then only until it receives the tagged response that marks the end of the response for the particular request. So any additional untagged response remains in the buffer until another command is issued.

Removing the check for the number of responses in K-9 Mail would probably resolve the issue. But I believe the server's behavior is not RFC-compliant and I don't see how it's helpful. Clients will most likely always issue a capability command right after the starttls command.

[RFC 3501, section 6.2.1](https://tools.ietf.org/html/rfc3501#section-6.2.1):
> Once [TLS] has been started, the client MUST discard cached information about server capabilities and SHOULD re-issue the CAPABILITY command

So hopefully we can get the server fixed. Do you know what mail server software the affected server is using?

> Yes, but not because of the quoted line. responses contains all untagged responses and the final tagged response. In your case this is the problematic exchange (I converted the entries from the log to what was transmitted over the wire):

I'm using openssl -starttls imap -connect to have a look from here, but to clarify, you're saying that the following communication is going on.

```
C: [CONNECT]
S: * OK [CAPABILITY IMAP4rev1 STARTTLS AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT] IMAP4rev1 Service Ready
C: . CAPABILITY
S: * CAPABILITY IMAP4rev1 STARTTLS AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT
S: . OK CAPABILITY completed
C: . STARTTLS
S: . OK Begin TLS negotiation now
S: * CAPABILITY IMAP4rev1 AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT
S: . OK CAPABILITY completed
```

And it is the last two lines that are throwing K-9 off?

> Because K-9 Mail (and I assume most other clients) only read responses after issuing a command. 

I can use mbsync without any problems against this server, likewise it is claimed that Outlook/Apple Mail/Thunderbird work without any problems as well.

I've been testing a number of other mobile mail clients as well, and the result is... mixed.  Perhaps it is this response that you've outlined that is throwing them off as well.

Or maybe the working clients are just discarding any extraneous messages, rather than treating them as part of the next client message.

> So hopefully we can get the server fixed. Do you know what mail server software the affected server is using?

It is proprietary, so no chance of that unless the developer(s) acknowledge there is a problem on their end.

It's more like this (from the server's perspective):
```
C: [CONNECT]
S: * OK [CAPABILITY IMAP4rev1 STARTTLS AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT] IMAP4rev1 Service Ready
C: 1 STARTTLS
S: 1 OK Begin TLS negotiation now
S: * CAPABILITY IMAP4rev1 AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT
C: 2 CAPABILITY
S: * CAPABILITY IMAP4rev1 AUTH=LOGIN AUTH=PLAIN ID APPENDLIMIT
S: 2 OK CAPABILITY completed
```

For the client it looks like this:
```
C: [CONNECT]
S: * OK [CAPABILITY IMAP4rev1 STARTTLS AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT] IMAP4rev1 Service Ready
C: 1 STARTTLS
S: 1 OK Begin TLS negotiation now
C: 2 CAPABILITY
S: * CAPABILITY IMAP4rev1 AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT
S: * CAPABILITY IMAP4rev1 AUTH=LOGIN AUTH=PLAIN ID APPENDLIMIT
S: 2 OK CAPABILITY completed
```

The check in K-9 Mail is probably too strict. We only need to make sure there's at least one untagged capability response.
But the server behavior is not helpful. It needlessly transmits data that a client won't read until it's too late for it to be useful.

@cketti by the way would there be instructions for building + testing k-9/master?  

In the meantime I've raised a support ticket and will get in touch with the developers of the SMTP server shortly...

- Clone the repository
- Install Android Studio
- Open the project

https://github.com/k9mail/k-9/wiki/BuildingK9

Managed to get debug information from the server component, which confirms what you said with the unsolicited CAPABILITY.

```
DEBU[Nov 17 00:05:57.865] * OK [CAPABILITY IMAP4rev1 STARTTLS AUTH=LOGIN AUTH=PLAIN ID APPENDLIMIT] IMAP4rev1 Service Ready  loc="127.0.0.1:1143" pkg=imap/server rem="127.0.0.1:33180"
DEBU[Nov 17 00:05:57.866] . CAPABILITY                                  loc="127.0.0.1:1143" pkg=imap/client rem="127.0.0.1:33180"
DEBU[Nov 17 00:05:57.867] * CAPABILITY IMAP4rev1 STARTTLS AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT  loc="127.0.0.1:1143" pkg=imap/server rem="127.0.0.1:33180"
DEBU[Nov 17 00:05:57.868] . OK CAPABILITY completed                     loc="127.0.0.1:1143" pkg=imap/server rem="127.0.0.1:33180"
DEBU[Nov 17 00:05:57.868] . STARTTLS                                    loc="127.0.0.1:1143" pkg=imap/client rem="127.0.0.1:33180"
DEBU[Nov 17 00:05:57.869] . OK Begin TLS negotiation now                loc="127.0.0.1:1143" pkg=imap/server rem="127.0.0.1:33180"
DEBU[Nov 17 00:05:57.880] * CAPABILITY IMAP4rev1 AUTH=PLAIN AUTH=LOGIN ID APPENDLIMIT  loc="127.0.0.1:1143" pkg=imap/server rem="127.0.0.1:33180"
```